.main.container {
    width: 80%;
    margin: 0 auto;
    right: 0;
    max-width: 1140px;
}
.img_input {
	margin-bottom: 15px;
}
.content {
	text-align: center;
}
.register_container {
	width: 400px;
	margin: 100px auto;
}
.register_title {
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
}
.unread {
  font-size: 15px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  padding-bottom: 2px;
  right: -9px;
  top: -5px;
}
.cunread{
  top: 0.5em !important;
  left: 110% !important; 
}
.visable {
  visibility: visible;
}
.invisable: {
  visibility: collapse;
}