.messpan {
	background-color: red;
	height:15px;
	width:20px;
	display:inline-block;
	font-size:15px;
	color:white;
	padding-left: 4px;
	border-radius: 20%;
}
.littlepoint {
	background-color: red;
	height:15px;
	width:20px;
	display:inline-block;
	font-size:15px;
	color:white;
	padding-left: 4px;
	border-radius: 20%;
	height:5px;
	width:5px;
	float:right;
	border-radius: 50%;
}
.mescontainer {
	margin: 100px;
	text-align: center;
}
.mes {
	text-align: left;
	margin:10px;
	margin-left:-30px;
	border-radius: 0.5em;
}
.onemes{
	font-size: 20px;
	margin: 10px;
}
.mestitle{
	margin-left: 10px;
	font-size: 25px;
}
.mesdate{
	margin-left:10px;
	color: rgb(141,133,150);
	font-size: 10px;
}
.mesdetails{
	position:relative;
	left:80%;
	bottom:20px;
}
.contents{
	display:none;
}
.mesc {
	max-width:400px;
	margin:10px;
}
.meso {
	max-width:400px;
	position: relative;
	left:30%;
	margin:10px;
}
.onemes {
	margin: 20px;
}

.message-reply {
	display: none;
	margin: 20px;
}

.sendcontainer {
	float: left;
	width: 50%;
	text-align: left;
	background-color:rgb(216, 221, 229);
	padding: 20px;
}
.stitle {
	position: relative;
	margin:20px;
}
.sreceiver{
	position: relative;

	margin:20px;
}
.scontent {
	position: relative;
	margin:20px;
}
.recentReceiver{
	float: right;
	width: 40%;
	font-size: 20px;
	
}
.namelist {
	margin:10px;
	padding: 10px;
	border-radius: 2em;
}
