<template name='mesget'>
	<i class="mail icon"></i>
	Message
	{{# if mesnum!=0}}
		<span class="messpan">{{mesnum}}</span>
	{{/if}}
	
</template>

	
<template name='Mrsuit'>
	<i class="icon list"></i> Mr.Suit
    {{# if mesnum!=0}}
		<span class='littlepoint'></span>
	{{/if}}
</template>
 
<template name='mesmain'>
	<div class='mescontainer'>
		<h2 class='ui header'>
			Message
		</h2>
		<div class='two item tabular ui menu'>
			<a class='active item' id='history'>History</a>
			<a class='item' id='send'>Send</a>
		</div>
		<div class='main container'>
			<div class='ui tab active' id="history_tab">
				<div >
					{{#each mesT}}
						<div class='mes'>
							<div class='mescontent'>
								<div class='mestitle'>{{title}}</div>
								<div class = 'contents'>
									{{#each mes}}
									<div class='onemes'>
										{{#if owner}}
											<div class='ui segment meso'>
												{{poster}}:
												{{mesContent}}
												<div class="ui fitted divider"></div>
												<div class='mesdate'>
													{{mesDate}}
												</div>
											</div>
										{{else}}
											<div class='ui segment mesc'>
												{{poster}}:
												{{mesContent}}
												<div class="ui fitted divider"></div>
												<div class='mesdate'>
													{{mesDate}}
												</div>
											</div>
										{{/if}}						
									</div>
									
									{{/each}}
								</div>
								<div class='message-reply'>
									<div class="ui form">
										<form id='reply'>
											<div class='field'>
												<textarea placeholder="input your reply" title="{{title}}" name="content"></textarea>
												<i class="mail outline icon"></i>
											</div>
											<div class="ui form">
												<input type="submit" class="ui blue submit button" value="Submit"/>
											</div>
									</form>
									</div>
								</div>
								<div class='mesdetails'>
									<i class="ellipsis horizontal icon" name='{{title}}'></i>
									<i class="outline chat icon"></i>
									<i class="trash icon" title="{{title}}" name="trash"></i>
								</div>
							</div>							
						</div>
					{{/each}}
				
				</div>
			</div>
			<div class='ui tab' id='send_tab'>
				<div class='sendcontainer'>
					<form id="send_form">
						<div><h2>Title:</h2></div>
						<div class='ui icon input stitle'>
							<input class='mesT' type='text' placeholder='title' name="title">
						</div>
						<div class='ui form'>
							<div><h2>Content:</h2></div>
							<div class='ui icon input scontent'>
								<div class='field'>
									<textarea placeholder='Please input your message' name="content"></textarea>
								</div>
							</div>
						</div>
					
						<div><h2>Send to:</h2></div>
						<div class='ui icon input sreceiver'>
							<input id='receiver' type='text' placeholder='Receiver name' name="receiver">
							<i class="users icon"></i>
						</div>
						<div class="ui form">
							<input type="submit" class="ui blue submit button" value="Submit"/>
						</div>
					</form>
				</div>
				
				<div class='recentReceiver'>
					<h2>Rencent Receivers:</h2>
					<div class="ui animated list">

					{{#each recentReceivers}}
						<div class='item namelist'>
							<div class='content'>{{name}}</div>
						</div>		
					{{/each}}
					</div>
					<!--<h2>Search Receiver:</h2>
					<div class='ui icon input'>
						<input class='receiver' type='text' placeholder='Receiver name'>
						<i class="search icon"></i>
					</div>-->
					<div class="ui animated list">
						{{#each searchReceivers}}
						<div class='item namelist'>
							<div class='content'>{{name}}</div>
						</div>		
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>