<template name="postItem">
  <div class="ui card">
    <div class="ui image">
      <a href="/postPage/{{id}}">
        <img src="{{getImage image}}" class="" id="design_image">
      </a>
    </div>
    <div class="content">
      <a class="header">{{title}}--By--{{creator}}</a>
      <div class="meta">
        <span class="date">Joined in {{date}}</span>
      </div>
      <div class="description">
        {{tags}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="heart icon"></i>
            22 Like
      </a>
    </div>
  </div>
</template>
