<template name="postItem">
  <div class="ui card">
    <div class="ui image">
      <a href="/detai/{{image}}"></a><img src="{{image.url}}" class="">
    </div>
    <div class="content">
      <a class="header">{{currentUser.username}}</a>
      <div class="meta">
        <span class="date">Joined in {{currentUser.createdAt}}</span>
      </div>
      <div class="description">
        {{tags}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="heart icon"></i>
            22 Like
      </a>
    </div>
  </div>
</template>

