<template name="postDetailItem">
  <div class="ui bordered rounded" id="post-detail-item">
    <div class="ui card rounded">
      <div class="content">
        <a class="header">{{title}} --By-- {{creator}}</a>
        <div class="meta">
          <span class="date">Joined in {{date}}</span>
        </div>
        <div class="description">
          {{tags}}
        </div>
      </div>

      <div class="ui image rounded bordered" id="">
        <img src="{{getImage image}}" class="" id="post-detail-design-image">
      </div>
      <div class="extra content">
        <a>
          <i class="heart icon"></i>
              22 Like
        </a>
      </div>
    </div>
  </div>
</template>