<template name="uploadItem">
  <div class="ui card">
    <div class="ui image">
      <a href="/postPage/{{id}}">
        <img src="{{getImage image}}">
      </a>
    </div>
    <div class="content">
      <div class="header">Title: {{title}}</div>
      <div class="creator">designed by 
        <a class="header ask-for-design-{{id}}">{{creator}}</a>
      </div>
      <div class="meta">
        <span class="date">Joined in {{date}}</span>
      </div>
      <div class="description">
        {{tags}}
      </div>
    </div>
    <div class="extra content">
    {{#if liker}}
      <a class="mark-as-unlike">
        <i class="heart icon"></i>
            {{likers_num}} Like
      </a>
    {{/if}}
    {{#if checkliker liker}}
      <a class="mark-as-like">
        <i class="empty heart icon"></i>
            {{likers_num}} Like
      </a>
    {{/if}}
      <a id="remove">
        <i class="remove icon" ></i>
            delete
      </a>
    </div>
    <div class="ui design-{{id}} popup">
      <div class="header">Do you want to send a message to ask for design for you?</div>
      <div class="actions">
        <div class="ui button positive agree-ask-for-design">OK</div>
        <div class="ui button cancel-ask-for-design">NO</div>
      </div>
    </div>
  </div>
</template> 
